Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
OOP/DesignPatterns/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
OOP/DesignPatterns/obj/Debug/net8.0/apphost
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.AssemblyInfo.cs
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.AssemblyInfoInputs.cache
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.assets.cache
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.csproj.CoreCompileInputs.cache
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.csproj.FileListAbsolute.txt
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.dll
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.GeneratedMSBuildEditorConfig.editorconfig
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.genruntimeconfig.cache
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.GlobalUsings.g.cs
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.pdb
OOP/DesignPatterns/obj/Debug/net8.0/DesignPatterns.sourcelink.json
OOP/DesignPatterns/obj/Debug/net8.0/ref/DesignPatterns.dll
OOP/DesignPatterns/obj/Debug/net8.0/refint/DesignPatterns.dll
OOP/DesignPatterns/obj/DesignPatterns.csproj.nuget.dgspec.json
OOP/DesignPatterns/obj/DesignPatterns.csproj.nuget.g.props
OOP/DesignPatterns/obj/DesignPatterns.csproj.nuget.g.targets
OOP/DesignPatterns/obj/project.assets.json
OOP/DesignPatterns/obj/project.nuget.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfo.cs
Joins/EducationLib/obj/Debug/net8.0/EducationLib.AssemblyInfoInputs.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.assets.cache
Joins/EducationLib/obj/Debug/net8.0/EducationLib.GeneratedMSBuildEditorConfig.editorconfig
OOP/DesignPatterns/bin/Debug/net8.0/DesignPatterns
OOP/DesignPatterns/bin/Debug/net8.0/DesignPatterns.deps.json
OOP/DesignPatterns/bin/Debug/net8.0/DesignPatterns.dll
OOP/DesignPatterns/bin/Debug/net8.0/DesignPatterns.pdb
OOP/DesignPatterns/bin/Debug/net8.0/DesignPatterns.runtimeconfig.json
